<?xml version="1.0" encoding="utf-8"?>

<robot name="workcell" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Macros  -->
    <xacro:macro name="default_material">
        <material name="">
          <color rgba="0.7 0.7 0.7 1.0"/>
        </material>
    </xacro:macro>

    <xacro:macro name="white_material">
        <material name="">
          <color rgba="1.0 1.0 1.0 1.0"/>
        </material>
    </xacro:macro>

    <xacro:macro name="box_inertial" params="m x y z rpy">
      <inertial>
        <origin xyz="0 ${y/2} 0" rpy="${rpy}" />
        <mass value="${m}"/>
        <inertia ixx="${1/12 * m * (y**2 + z**2)}" iyy="${1/12 * m * (x**2 + z**2)}" izz="${1/12 * m * (x**2 + y**2)}" ixy="0" ixz="0" iyz="0"/>
      </inertial>
    </xacro:macro>

    <xacro:macro name="workcell" params="isShowCrown isShowHDI">

        <!-- TABLE -->
        <link name="table" >
            <xacro:box_inertial m="20" x="1" y="1.2" z="0.9" rpy="0 0 0"/>
            <visual>
              <origin
                  xyz="0 0 -0.45"
                  rpy="0 0 0" />
              <geometry>
                <box size="1.2 0.9 0.9" />
              </geometry>
              <material name="">
                <color rgba="0.4 0.7 0.7 1.0"/>
              </material>
            </visual>

            <collision>
              <origin xyz="0.0 0.0 0" rpy="0 0 0" />
              <geometry>
                <box size="1.2 0.9 0.9" />
              </geometry>
            </collision>
        </link>

        <xacro:if value="${isShowCrown}">
            <!-- Crown -->
            <link name="crown">
                <xacro:box_inertial m="0.2" x="0.03" y="0.03" z="0.02" rpy="0.0 0.0 0.0" />
                <visual>
                  <geometry>
                    <mesh filename="package://staubli_support/meshes/test_objects/crown.stl"  scale="0.003 0.003 0.003"/>
                  </geometry>
                  <material name="Light">
                    <color rgba="0.8 0.8 0.8 1"/>
                  </material>
                </visual>
                <collision>
                  <geometry>
                    <mesh filename="package://staubli_support/meshes/test_objects/crown.stl"  scale="0.003 0.003 0.003"/>
                  </geometry>
                  <origin rpy="0 0 0" xyz="0.0 0 0"/>
                </collision>
            </link>

            <!-- Connect crown -->
            <joint name="lmi_crown_joint" type="fixed">
            <origin
              xyz="0.5 0.035 0.1"
              rpy="0 0 0" />
            <parent
              link="lmi_scanner" />
            <child
              link="crown" />
            </joint>
        </xacro:if>

        <xacro:if value="${isShowHDI}">
            <!-- LMI -->
            <link name="lmi_scanner" >
                <xacro:box_inertial m="2" x="0.3" y="0.3" z="0.03" rpy="0.0 0.0 0.0" />
                <visual>
                  <origin xyz="0.0 -0.14 0.0" rpy="0.0 0.0 0.0"/>
                  <geometry>
                    <mesh filename="package://staubli_support/meshes/LMI_sensor/HDIScanner.STL" scale="0.0008 0.0008 0.0008"/>
                  </geometry>
                  <material name="LightGrey">
                    <color rgba="0.5 0.5 0.5 1.0"/>
                  </material>
                </visual>

                <collision>
                  <origin xyz="0.0 -0.14 0.0" rpy="0.0 0.0 0.0"/>
                  <geometry>
                    <mesh filename="package://staubli_support/meshes/LMI_sensor/HDIScanner.STL" scale="0.001 0.001 0.001" />
                  </geometry>
                </collision>
            </link>

            <!-- Connect LMI -->
            <joint name="table_lmi_scanner_joint" type="fixed">
              <origin
                xyz="0.3 -0.45 0.02"
                rpy="-1.57 3.14 0" />
              <parent
                link="table" />
              <child
                link="lmi_scanner" />
            </joint>

        </xacro:if>


    </xacro:macro>

</robot>
